@mainColor: blue;

@import "pizza/pizza-card";

.website {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 85px auto 110px;
  grid-template-areas:
    "header list"
    "main list"
    "footer list";
  background-color: #fffff5;
  height: fit-content;
  font-size: medium;
  max-width: 100%;
}

.pizza-boxes {
  display: grid;
  grid-template-columns: repeat(3, 248px);
  grid-auto-rows: minmax(min-content, auto);
  grid-gap: 30px;
  justify-content: center;
  margin: 20px;
}

.small {
  font-size: small;
}

.xx-large {
  font-size: x-large;
}

.bold {
  font-weight: bold;
}

.header {
  grid-area: header;
  background-color: rgba(0, 0, 0, 0.8);
  display: grid;
  grid-template-columns: 1fr 12fr;
  position: sticky;
  top: 0;
  z-index: 1;
}
.main-container {
  grid-area: main;
  padding: 15px;
}

.order-list {
  grid-area: list;
  position: sticky;
  top: 0px;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
}
.footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  color: gray;
}

.header-bookmark {
  position: sticky;
  top: 0;
  left: 10px;
  z-index: 1;
  margin-right: 10px;
}

.h-b-img {
  position: absolute;
  bottom: -9px;
  left: 0px;
  z-index: 1;
  width: 95px;
  transform: rotate(0.5turn);
}

.h-div-bookmark {
  grid-column: 1 / 2;
  width: 95px;
  height: 85px;
  background-color: #ec861c;
  z-index: 2;
  color: white;
  text-align: center;
  padding: 10px 10px;
  box-sizing: border-box;
}

.pizza-box h3 {
  color: #f27216;
  background-color: inherit;
  font-weight: bold;
  font-size: xx-large;
}

.pizza-box {
  position: relative;
  max-width: 100%;
  background-color: #f9f9f9;
  border: 1px solid lightgrey;
  border-radius: 10px;
  padding: 7px;
}

.pizza-box img {
  max-width: 100%;
}
.pizza-entire-info {
  padding: 10px;
}
.attention-red {
  background-color: red;
  border-radius: 5px;
  z-index: 2;
  color: white;
  padding: 7px 10px;
  position: absolute;
  top: -15px;
  right: -15px;
  font-weight: bold;
}

.attention-green {
  background-color: green;
  border-radius: 5px;
  z-index: 2;
  color: white;
  padding: 7px 10px;
  position: absolute;
  top: -15px;
  right: -15px;
  font-weight: bold;
}

.type-of-pizza {
  color: grey;
  font-size: small;
}
.diameter-weight {
  display: flex;
  justify-content: space-around;
}

.amount {
  font-size: xx-large;
  font-weight: bold;
}
.pizza-info {
  text-align: center;
}

.pizza-info-btn {
  margin-top: 7px;
  padding: 7px 12px;
}

.lines {
  box-sizing: border-box;
  padding: 1px 15px;
}

.top-line {
  display: flex;
  color: lightgrey;
  align-items: center;
  height: 50%;
  grid-column: 2 / 3;
  gap: 30px;
}

#log-in {
  margin-left: auto;
  padding: 7px 12px;
  margin: 3px 0px;
  margin-left: auto;
}

hr {
  border-top: 1% solid white;
  width: 100%;
  margin: 0px;
}

.second-line {
  display: flex;
  color: white;
  font-size: medium;
  height: 50%;
  grid-column: 2 / 3;
  align-items: center;
}

.button {
  background-color: #e89000;
  color: white;
  border-radius: 5px;
  border: 0;
}

/*.pizza-boxes {
  display: flex;
  justify-content: space-evenly;
}*/

.order {
  background-color: white;
  font-size: medium;
  padding: 25px 15px;
  margin: 0px;
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}
.clean {
  margin-left: auto;
  color: grey;
}

.amount-result {
  background-color: #f27216;
  color: white;
  font-weight: 700;
  border-radius: 10px;
  display: inline-block;
  height: 20px;
  width: 25px;
  text-align: center;
  margin: 5px;
}

.choose-pizza {
  text-align: center;
  margin: 10px 0px;
}

.pizzas {
  color: black;
}

.kinds {
  color: #e89000;
  margin: 0px 10px;
}

.all-kinds {
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center;
}

#all {
  padding: 7px 12px;
  border-radius: 5px;
  color: white;
  background-color: #e89000;
}

.iteams {
  position: sticky;
  background-color: #f5f5f5;
  align-items: stretch;
}

.product-item {
  color: #ef961a;
  font-size: x-large;
}

.iteam {
  padding: 5px;
  height: 35%;
  min-height: min-content;
}

.minus,
.plus {
  position: relative;
  color: white;
  font-weight: 700;
  height: 25px;
  width: 25px;
  border-radius: 25px;
  border-width: 0px;
  margin: 5px;
}

.minus {
  background-color: red;
  box-shadow: 0 2px darkred;
}

.plus {
  background-color: #1bbb44;
  box-shadow: 0 2px darkgreen;
}

.cross {
  color: orange;
  background-color: #f9f9f9;
  font-weight: 700;
  height: 25px;
  width: 25px;
  border-radius: 25px;
  border-width: 0px;
  border: 1px solid #dedede;
  margin: 5px;
}

.final-info {
  margin-top: auto;
  padding: 2%;
  background-color: #f9f9f9;
  position: sticky;
  bottom: 0;
}
.order-btn-div {
  display: flex;
  justify-content: center;
}

#order-btn {
  padding: 5% 30%;
  margin: 5%;
  font-size: large;
}

.amount-sum {
  display: flex;
  font-weight: bold;
  margin-left: 2%;
  margin-right: 2%;
  justify-content: space-between;
}

.footer-bookmark {
  position: fixed;
  bottom: 0px;
  left: 30px;
  z-index: 1;
}

.f-div-bookmark {
  position: relative;
  bottom: 0px;
  left: 0px;
  z-index: 2;
  width: 85px;
  height: min-content;
  background-color: #ec861c;
  color: white;
  text-align: center;
  padding: 5px 10px;
  border: 0px solid #d26505;
}
